version: '3'
services:
  nexus:
    image: "sonatype/nexus3"
    container_name: nexus
    restart: always
  nginx:
    image: "nginx:latest"
    ports:
      - "443:443"
    restart: always
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
    command: >
      bash -c "apt-get update
      && apt-get install openssl
      && mkdir /etc/nginx/ssl
      && openssl req -nodes -days 3650 -x509 -newkey rsa:2048 -keyout /etc/nginx/ssl/private.key -out /etc/nginx/ssl/cert.crt -subj '/CN=www.test.com/O=My Company Name LTD./C=US'
      && chown nginx:nginx /etc/nginx/ssl/private.key"
    depends_on:
      - nexus
